<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login/Register</title>
</head>
<body>
    <div style="display: flex; flex-direction: column">
        <h3>Login Form</h3>

        <form action="http://localhost:8080/login" method="post" style="display: flex; flex-direction: column; width: 20%">
            <label for="loginEmail">Email: </label>
            <input type="email" id="loginEmail" name="loginEmail"/>

            <label for="loginPassword">Password: </label>
            <input type="password" id="loginPassword" name="loginPassword"/>

            <button type="submit">Submit</button>
        </form>
    </div>

    <div>
        <h3>Business Registration Form</h3>
        <form action="http://localhost:8080/new/business" method="post" style="display: flex; flex-direction: column; width: 20%">

            <label for="businessEmail">Email: </label>
            <input type="email" name="businessEmail" id="businessEmail"/>

            <label for="businessPassword">Password: </label>
            <input type="password" id="businessPassword" name="businessPassword"/>

            <label for="businessName">Name: </label>
            <input type="text" name="businessName" id="businessName"/>

            <label for="ownerName">Owner Name: </label>
            <input type="text" id="ownerName" name="ownerName"/>

            <button type="submit">Submit</button>
        </form>
    </div>

    <div>
        <h3>Client Registration Form</h3>
        <form action="http://localhost:8080/new/client" method="post" style="display: flex; flex-direction: column; width: 20%">

            <label for="clientEmail">Email</label>
            <input type="email" name="clientEmail" id="clientEmail"/>

            <label for="clientPassword">Password: </label>
            <input type="password" id="clientPassword" name="clientPassword"/>

            <label for="clientName">Name</label>
            <input type="text" name="clientName" id="clientName"/>


            <button type="submit">Submit</button>
        </form>
    </div>


    <div>
        <h3>Guest Form</h3>
        <form action="http://localhost:8080/new/guest" method="post" style="display: flex; flex-direction: column; width: 20%">

            <label for="guestEmail">Email:</label>
            <input type="email" name="guestEmail" id="guestEmail"/>

            <label for="guestName">Name: </label>
            <input type="text" name="guestName" id="guestName"/>
            <button type="submit">Submit</button>
        </form>
    </div>

</body>
</html>