<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login/Register</title>
</head>
<body>
    <div style="display: flex; flex-direction: column">
        <h3>Login Form</h3>

        <form action="http://localhost:8080/login" method="post" style="display: flex; flex-direction: column; width: 20%">
            <label for="loginEmail">Email: </label>
            <input type="email" id="loginEmail" name="loginEmail"/>

            <label for="loginPassword">Password: </label>
            <input type="password" id="loginPassword" name="loginPassword"/>

            <button type="submit">Submit</button>
        </form>
    </div>

    <div>
        <h3>Business Registration Form</h3>
        <form action="http://localhost:8080/new/business" method="post" style="display: flex; flex-direction: column; width: 20%">

            <label for="registrationEmail">Email</label>
            <input type="email" name="registrationEmail" id="registrationEmail"/>

            <label for="registrationPassword">Password: </label>
            <input type="password" id="registrationPassword" name="registrationPassword"/>

            <label for="registrationName">Name</label>
            <input type="text" name="registrationName" id="registrationName"/>



            <button type="submit">Submit</button>
        </form>
    </div>

    <div>
        <h3>Client Registration Form</h3>
        <form action="http://localhost:8080/new/client" method="post" style="display: flex; flex-direction: column; width: 20%">
            <label for="client_username">Username: </label>
            <input type="text" id="client_username" name="client_username"/>

            <label for="client_password">Password: </label>
            <input type="password" id="client_password" name="client_password"/>

            <label for="client_name">Name</label>
            <input type="text" name="client_name" id="client_name"/>

            <label for="client_email">Email</label>
            <input type="email" name="client_email" id="client_email"/>

            <button type="submit">Submit</button>
        </form>
    </div>


    <div>
        <h3>Guest Form</h3>
        <form action="http://localhost:8080/new/guest" method="post" style="display: flex; flex-direction: column; width: 20%">
            <label for="guest_username">Username: </label>
            <input type="text" name="guest_username" id="guest_username"/>

            <label for="guest_email">Email:</label>
            <input type="email" name="guest_email" id="guest_email"/>
            <button type="submit">Submit</button>
        </form>
    </div>

</body>
</html>